<%= form_for(@transacao) do |f| %>
  <% if @transacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transacao.errors.count, "error") %> impediram esta transação de ser salva:</h2>

      <ul>
      <% @transacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
