<h1>Bancos</h1>

<table class="grid">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @bancos.each do |banco| %>
    <tr>
      <td><%= link_to banco.nome, edit_financeiro_banco_path(banco) %></td>
      <td><%= banco.numero %></td>
      <td><%= link_to 'Excluir', banco, confirm: 'Tem certeza?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>    
</table>

<br />

<%= link_to 'Novo Banco', new_financeiro_banco_path %>
